.button {
    border: none;
    display: inline-block;
    padding: 15px 20px 14px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    min-width: 182px;
    height: 48px;
    font-family: 'Roboto';
  }
  
  .button:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .button_primary {
    background: #4263EB;
    margin-right: 32px;
    color: #fff;
  }
  
  .button_primary:hover {
    background-color: #2342C0;
  }

  .button_secondary {
    background: #7048E8;
    margin-right: 32px;
    color: #fff;
  }

  .button_secondary:hover {
    background: #5028C6;
  }
  
  .button_alternate {
    background: transparent;
    color: #495057;
    margin-right: 32px;
    border: 1px solid #ACB5BD;
  }

  .button_alternate:hover {
    border-color: #212429;
  }
  



  
 
  