header {
    color: white;
    background: red;
    text-align: center;
  }
  nav {
    background: orange;
    padding: 10px;
  }
  main {
    background: green;
    color: white;
    padding: 10px;
  }
  h2 {
    padding-left: 12px;
    padding-top: 12px;
    font-size: 25px;
  }
  article {
    background: blue;
    box-sizing: border-box;
    padding-bottom: 12px;
  }
  
  footer {
    background: purple;
    color: white;
    font-size: 30px;
    text-align: center;
  }