.skeleton {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 24px 32px 24px;
  }
  
  .skeleton__top {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }
  
  .skeleton__circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--grey-2);
  }
  
  .skeleton__lines {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 8px;
  }

  .skeleton__line {
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);;
  }
  
  .skeleton__line--small {
    width: 30%;
  }
  
  .skeleton__line--medium {
    width: 50%;
  }

  .skeleton__line--large {
    width: 100%;
  }
  
  .skeleton__bottom {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .skeleton__line:last-child {
    margin-bottom: 0;
  }