.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  @media only screen and (max-width: 400px) {
    .background {
      background-image: url('public/forest_400.jpg');
    }
  }
  
  @media only screen and (min-width: 401px) and (max-width: 768px) {
    .background {
      background-image: url('public/forest_768.jpg');
    }
  }
  
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .background {
      background-image: url('public/forest_1024.jpg');
    }
  }
  
  @media only screen and (min-width: 1025px) and (max-width: 2560px) {
    .background {
      background-image: url('public/forest_2560.jpg');
    }
  }